html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
body {
  background-image: url(https://ak6.picdn.net/shutterstock/videos/8028916/thumb/7.jpg);
}

h1 {
  font-size: 50px;
  font-family: "Georgia", Times, serif;
  color: #FF0038; 
  text-shadow: 2px 2px 8px #000000;
}

h2 {
  font-size: 25px;
  font-family: "Georgia", Times, serif;
  color : #ffffff;
}

h3 {
  font-size: 20px;
  font-family: "Georgia", Times, serif;
  color : #FF0038;
}

p {
  color : #ffffff;
}

a:hover {
	color: #242342;
}

table {
    font-family: "Georgia", Times, serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr {background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

.panel-body {
	background-color: rgba(20,20,20,0.8);
}


.img-fluid {
    max-width: 100%;
    height: auto;
}



#description {
	padding: 20px;
	margin-right: 10px;
	margin-left: 10px;
	background-color:white;
}

#plots {
	padding: 20px;
	margin-left: 10px;
	margin-right: 10px;
	background-color:white;
	white-space: normal;
}

.thumbnail a img {
	padding: 1px;
	margin-left: 1px;
	margin-right: 1px;
	column-gap: 1px; 
}

#page-content {
	margin-left: 20px;
}

@media screen and (max-width: 480px) {

  
#description {
	padding: 20px;
	margin-right: 20px;
	margin-left: 0px;
	background-color:white;
}

.img-fluid {
    max-width: 80%;
    height: auto;
}
}